

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <br>
    <br>
    <h1 class="display-4">Alpha Articles</h1>
    <p class="lead">The best blog for everything from travel to investing real articles with indivual opinions. Start your blog today for free dont wait another minute and share your expereinces with Alpha community.</p>
    <hr class="my-4">
      <%= link_to 'Start your Alpha Blog', new_article_path, class: 'btn btn-light btn-lg' %>
  </div>

  <div class="container py-4">
      <div class="row align-items-md-stretch">
        <div class="col-md-6">
          <div class="h-100 p-5 text-bg-dark rounded-3">
            <h2>Read some Articles</h2>
            <p>"If you can dream it, you can do it." - Walt Disney</p>
            <%= link_to 'Articles', articles_path, class: 'btn btn-outline-light' %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="h-100 p-5 bg-body-tertiary border rounded-3">
            <h2>Start your Article</h2>
            <p>Before you begin typing, please take a moment to sign up. Don't hesitate, start now!</p>
            <%= link_to 'sign up', signup_path, class: 'btn btn-outline-secondary' %>
          </div>
        </div>
      </div>
  </div>
</div>
 





