<div class="hero">
    <br /> 
    <div class="frosty col-10 offset-8 col-sm-4">
      <br />
      <h1>easilySmart</h1>
      <h2>Never stop learning</h2>
      <br />
     
  </div>
 
</div>
<div class="hero2">
  <br />
  <div class="frosty col-2 offset-1 col-sm-4">
    <br />
    <h3>Start to learn</h3>
    <h4>become an expert</h4>
    <br />
  </div>
</div>